<div class="content">
        <h1> Clothes </h1>
    <span class="detail">
        <table>
            <tr>
                <td><a href="#" routerLink="/dressdetail" ><img class="cart-img" src="assets/img/dress.png"></a></td>
                <td><img class="cart-img" src="assets/img/pants.jpeg"></td>
                <td><img class="cart-img" src="assets/img/top.jpeg"></td>
            </tr>
            <tr>
                <td>Ankle-length Slacks</td>
                <td>Dress with Tie Belt</td>
                <td>Satin Camisole Top</td>
            </tr>
            <tr>
                <td>$50.00</td>
                <td>$99.99</td>
                <td>$24.99</td>
            </tr>
            <tr>
                <td class="clInfo">New Arrival </td>
                <td class="clInfo">New Collection</td>
                <td class="clInfo">In Multplie Colors</td>
            </tr>
            <tr>
                <td class="clInfo1">In Stock </td>
                <td class="clInfo1">In Stock</td>
                <td class="clInfo1">In Stock</td>
            </tr>
        </table>
    </span>
       
</div>

