.content {
    h1 {
      padding-left:3em;
    }
    .detail h5{
        padding-left:3em;
    }
    table{
        width: 60%;
        margin: auto;
    }
    td {
        padding: 5px;
        font-size: 16px;
        text-align: center;
    }
    .clInfo{
        font-size: 10px;
    } 
    .clInfo1{
        font-size: 8px;
    }
    .cart-img{
        width: 150px;
        height: 200px;
        padding-bottom: 5px;
    }
    
}