<div class="content">
        <h1> Dress with Tie Belt </h1>
    <span class="detail">
        <div class="row">
            <div class="column">
                <img class="detPhoto" src="assets/img/dress.png">
            </div>
            <div class="column" >
                <img class="detPhoto" src="assets/img/dress1.jpeg">
            </div>
            <div class="column">
                <h2>Dress with Tie Belt</h2>
                <span class="details"> $99.99  </span> <br>
                <span class="details1"> Available in store and online  </span>
                <br><br>
                <select class="select-css">
                    <option>Select Size</option>
                    <option>0</option>
                    <option>2</option>
                    <option>4</option>
                    <option>6</option>
                    <option>8</option>
                    <option>10</option>
                    <option>12</option>
                </select>
                <button class="nav-item nav-link-edit" [routerLink]="['cart']" class="addBtn"> Add  </button>
            </div>
        </div>
        <div class="row">
            <div class="infoAboutDress">
                <span><b>New Arrival</b></span> <br><br>
                Straight-cut, calf-length dress in woven fabric. Band collar, covered buttons at top, and removable tie belt at waist. Long, slightly wider sleeves and narrow cuffs with covered button. Unlined.
                <br> <br>
                COMPOSITION ---- Viscose 100%<br>
                ART. NO. ---- 0787237006
            </div>
            
        </div>
    </span>
</div>


