
<div class="bodyContainer"> 
    <div class="thankYou"> 
        <div class="row">
            <div class="column">
                <h2>THANK YOU</h2>
            </div>
            <div class="column" id="strip">
                <h5>Order Status</h5>
                <p>Order placed successfully! </p>
                <h5>Tracking Information</h5>
                <p>123OrderIsReady </p>
                <h5>Questions about your order? </h5>
                <p>Call +1 (408)123-1234 </p>
            </div>
        </div>
    </div>
</div>