@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');


$primary: rgb(255, 253, 253);

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

// .container {
//     width: 80%;
//     margin: 0 auto;
// }

header {
    background: $primary;
    padding: 2em;

    a {
        color: rgb(2, 2, 2);
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }
    .shop {
        color:#828c83;
    }
    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    // background: darken($primary, 10%);
                    background: #b4cad7;
                }
                #cartIcon{
                    margin-top: -15px;
                    color:black;
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}
#cartIcon{
    margin-top: -15px;
    color:black;
}