<header>
  <div class="container">
    <a routerLink="/" class="logo">COLO<span class="shop">SHOP</span></a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">HOME</a></li>
        <li><a href="#" routerLink="/list">COLLECTION</a></li>
        <li><a href="#" routerLink="/sign">SIGN-IN</a></li>
        <li><a href="#" routerLink="/cart" id="cartIcon" class="fa fa-shopping-cart" > CART</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
