* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .content {
      h1 {
        padding-left:3em;
      }
  }
  .row {
    margin: auto;
    width: 90%;
    padding: 10px;
      .column {
          margin:1em;
          text-align: center;
      }
  }

  .col1 a h2 {
    color: black;
    text-decoration: none;
    width: 300px;
    height: 300px;
    padding: 70px 0;
    text-align: center;
    background-position: center center;
    background-size: cover;
    opacity: 0.6;
    background-image: url("src/assets/img/jeans-828693_1920.jpg"); 
  
  }
  .col2 h2 {
    width: 300px;
    height: 300px; 
    object-fit: contain; 
    padding: 70px 0;
    text-align: center;
    background-position: center center;
    background-size: cover;
    opacity: 0.6;
    background-image: url("src/assets/img/legs-434918_1920.jpg"); 
  }
  .col3 h2 {
    width: 300px;
    height: 300px;
    padding: 70px 0;
    text-align: center;
    background-position: center center;
    background-size: cover;
    opacity: 0.6;
    background-image: url("src/assets/img/handbag-1478814_1920.jpg"); 
  }